@font-face {
  font-family: "Raleway";
  src: url("./Raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("./Raleway/Raleway-Bold.ttf");
}

html,
body {
  background-color: #222;
  color: white;
  height: 100vh;
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
